.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1 {
  font-size: 4rem;
  color: white;
}
button {
  margin: 10px 10px;
  padding: 10px 20px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button {
  background-color: hsl(182, 25%, 40%);
}
.add-button:hover {
  background-color: hsl(182, 25%, 30%);
}
.delete-button {
  background-color: hsl(0, 58%, 52%);
}
.delete-button:hover {
  background-color: hsl(0, 58%, 42%);
}
.move-button {
  background-color: hsl(206, 89%, 58%);
}
.move-button:hover {
  background-color: hsl(206, 89%, 48%);
}
input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 40%);
  border-radius: 5px;
  color: hsl(0, 0%, 0%, 0.5);
}
ol {
  padding: 0;
}
li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid rgba(228, 228, 228, 0.799);
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}
body {
  background-color: hsl(0, 0%, 14%);
}
